.env
node_modules/
dist/
build/
.DS_Store
.vscode/
.idea/
*.log
*.tmp
coverage/
*.bak
*.swp
*.swo
*.class
*.jar
*.war
*.ear
*.iml
*.pyc
__pycache__/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*  
.vercel
